spring.application.name=webpasswd

logging.level.org.springframework.web=debug
logging.level.org.hibernate=error
logging.level.org.springframework.security=debug
spring.websecurity.debug=true


# application setting
app.userDnPatterns=cn={0},ou=people,dc=example,dc=com
app.groupSearchBase=ou=groups,dc=example,dc=com
app.ldapUrl=ldap://localhost:389
app.groupRoleAttribute=cn
app.ldapManagerDn=cn=admin,dc=example,dc=com
app.ldapManagerPassword=admin_password


app.userDnBase=ou=people,dc=example,dc=com
app.usernameAttribute=cn

# for Spring ldap context setting
spring.ldap.urls=ldap://localhost:389
spring.ldap.username=cn=admin,dc=example,dc=com
spring.ldap.password=admin_password

# embeded test configuration
# spring.ldap.embedded.port=20389
# spring.ldap.embedded.credential.username=uid=admin,ou=system
# spring.ldap.embedded.credential.password=secret
# spring.ldap.embedded.base-dn=dc=example,dc=org
# spring.ldap.embedded.ldif=classpath:/testuser2.ldif

# spring.ldap.embedded.base-dn=dc=example,dc=com
# spring.ldap.embedded.ldif=classpath:/testuser.ldif


